<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotWarp" version="1.2.1" targetFramework="net40" />
  <package id="Meshellator" version="1.0.0.0" targetFramework="net40" />
  <package id="Nexus" version="1.0.0.0" targetFramework="net40" />
  <package id="Nexus.Wpf" version="1.0.0.0" targetFramework="net40" />
</packages>