body {
	padding-top: 100px;
}

.page-header {
	margin-top: 0;
}

h1 {
	margin-top: 0;
}

.thumbnail {
	position: relative;
	min-height: 340px;
}

.thumbnail .btn {
	position: absolute;
	bottom: 15px;
}