@{ Layout = "~/Views/Shared/_LayoutBase.cshtml"; }

<header class="jumbotron subhead" id="overview">
	<div class="row">
		<h1>DynamicImage</h1>
		<p class="lead">A high-performance image manipulation library for ASP.NET</p>
	</div>
</header>