<div class="page-header">
	<h1>Julia Fractal Layer</h1>
</div>

<pre>
@@Html.DynamicImageTag(b => b.WithLayer(LayerBuilder.JuliaFractal))
</pre>

<p>@Html.DynamicImageTag(b => b.WithLayer(LayerBuilder.JuliaFractal))</p>