@section PageTitle { Mandelbrot Fractal Layer }

<pre>
@@Html.DynamicImageTag(b => b.WithLayer(LayerBuilder.MandelbrotFractal))
</pre>

<p>@Html.DynamicImageTag(b => b.WithLayer(LayerBuilder.MandelbrotFractal))</p>