@using System.Windows.Media

<div class="page-header">
	<h1>Polygon Shape Layer</h1>
</div>

<pre>
@@Html.DynamicImageTag(b => b.WithLayer(
	LayerBuilder.PolygonShape.Width(300).Height(250).Fill("#AECDEF").Sides(5)
		.StrokeDashStyle(SoundInTheory.DynamicImage.DashStyle.Dash)
		.StrokeWidth(3).StrokeFill("#345678").Roundness(25)
		.WithFilter(
			FilterBuilder.DropShadow.Size(10).Distance(10).Color(Colors.LightGray)
		)
	))
</pre>

<p>
	@Html.DynamicImageTag(b => b.WithLayer(
		LayerBuilder.PolygonShape.Width(300).Height(250).Fill("#AECDEF").Sides(5)
			.StrokeDashStyle(SoundInTheory.DynamicImage.DashStyle.Dash)
			.StrokeWidth(3).StrokeFill("#345678").Roundness(25)
			.WithFilter(
				FilterBuilder.DropShadow.Size(10).Distance(10).Color(Colors.LightGray)
			)
	))
</p>