@using System.Windows.Media

<div class="page-header">
	<h1>Rectangle Shape Layer</h1>
</div>

<pre>
@@Html.DynamicImageTag(b => b.WithLayer(
	LayerBuilder.RectangleShape.Width(500).Height(400).Fill("#AECDEF")
		.StrokeDashStyle(SoundInTheory.DynamicImage.DashStyle.DashDotDot)
		.StrokeWidth(3).StrokeFill("#345678")
		.WithFilter(
			FilterBuilder.DropShadow.Size(10).Distance(10).Color(Colors.LightGray)
		)
	))
</pre>

<p>
	@Html.DynamicImageTag(b => b.WithLayer(
		LayerBuilder.RectangleShape.Width(500).Height(400).Fill("#AECDEF")
			.StrokeDashStyle(SoundInTheory.DynamicImage.DashStyle.DashDotDot)
			.StrokeWidth(3).StrokeFill("#345678")
			.WithFilter(
				FilterBuilder.DropShadow.Size(10).Distance(10).Color(Colors.LightGray)
			)
		))
</p>