@section PageTitle { Rectangle Shape Layer }

<pre>
@@Html.DynamicImageTag(b => b.WithLayer(
	LayerBuilder.RectangleShape.Width(500).Height(400).Fill("#AECDEF")
		.StrokeDashStyle(DashStyle.DashDotDot)
		.StrokeWidth(3).StrokeFill("#345678")
		.WithFilter(
			FilterBuilder.DropShadow.Size(10).Distance(10).Color(Colors.LightGray)
		)
	))
</pre>

<p>
	@Html.DynamicImageTag(b => b.WithLayer(
		LayerBuilder.RectangleShape.Width(500).Height(400).Fill("#AECDEF")
			.StrokeDashStyle(DashStyle.DashDotDot)
			.StrokeWidth(3).StrokeFill("#345678")
			.WithFilter(
				FilterBuilder.DropShadow.Size(10).Distance(10).Color(Colors.LightGray)
			)
		))
</p>