@{ Layout = "~/Views/Shared/_LayoutBase.cshtml"; }

<div class="row">
	@Html.Partial("_Nav")

	<div class="span9">
		<div class="page-header">
			<h1>@RenderSection("PageTitle") <small>@RenderSection("SubTitle", false)</small></h1>
		</div>
		@RenderBody()
	</div>
</div>