<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<sectionGroup name="soundInTheory">
			<section name="dynamicImage" type="SoundInTheory.DynamicImage.Configuration.DynamicImageSection" />
		</sectionGroup>
	</configSections>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			</assemblies>
		</compilation>
		<httpHandlers>
			<add path="*.jpg" verb="*" type="System.Web.StaticFileHandler, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		</httpHandlers>
		<httpModules>
			<add name="DynamicImageModule" type="SoundInTheory.DynamicImage.DynamicImageModule, SoundInTheory.DynamicImage" />
		</httpModules>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add tagPrefix="sitdap" namespace="SoundInTheory.DynamicImage" assembly="SoundInTheory.DynamicImage" />
				<add tagPrefix="sitdap" namespace="SoundInTheory.DynamicImage.Filters" assembly="SoundInTheory.DynamicImage" />
				<add tagPrefix="sitdap" namespace="SoundInTheory.DynamicImage.Sources" assembly="SoundInTheory.DynamicImage" />
			</controls>
		</pages>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<add name="DynamicImageModule" type="SoundInTheory.DynamicImage.DynamicImageModule, SoundInTheory.DynamicImage" />
		</modules>
		<security>
			<requestFiltering>
				<hiddenSegments>
					<remove segment="App_Data" />
				</hiddenSegments>
			</requestFiltering>
		</security>
		<handlers>
			<add name="JPG" path="*.jpg" verb="*" modules="IsapiModule" scriptProcessor="c:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
		</handlers>
	</system.webServer>
	<soundInTheory>
		<dynamicImage>
			<caching mode="Custom" customProvider="SqliteCachingProvider" storeMissingImagesInCache="false">
				<providers>
					<add name="SqliteCachingProvider" type="SoundInTheory.DynamicImage.Caching.Sql.SqlCeCacheProvider, SoundInTheory.DynamicImage.Caching.Sql" />
				</providers>
			</caching>
		</dynamicImage>
	</soundInTheory>
</configuration>