@section PageTitle { Border Filter }
@section SubTitle { Applies a border to an image }

<div class="alert alert-info">The original image is not resized; the border is added around the edge of the image.</div>

<pre>
@@Html.DynamicImageTag(b => b.WithLayer(
	LayerBuilder.Image.SourceFile("~/Assets/Images/AutumnLeaves.jpg")
		.WithFilter(FilterBuilder.Resize.To(500, 500))
		.WithFilter(FilterBuilder.Border.Width(20).Fill(Colors.Green))
))
</pre>

<p>
	@Html.DynamicImageTag(b => b.WithLayer(
		LayerBuilder.Image.SourceFile("~/Assets/Images/AutumnLeaves.jpg")
			.WithFilter(FilterBuilder.Resize.To(500, 500))
			.WithFilter(FilterBuilder.Border.Width(20).Fill(Colors.Green))
	))
</p>