@section PageTitle { Contrast Adjustment Filter }
@section SubTitle { Adjusts the contrast of the layer }

<pre>
@@Html.DynamicImageTag(b => b.WithLayer(
	LayerBuilder.Image.SourceFile("~/Assets/Images/AutumnLeaves.jpg")
		.WithFilter(FilterBuilder.Resize.To(300, 300))
		.WithFilter(FilterBuilder.AdjustContrast.Level(-90))
))
</pre>

<p>
	@Html.DynamicImageTag(b => b.WithLayer(
		LayerBuilder.Image.SourceFile("~/Assets/Images/AutumnLeaves.jpg")
			.WithFilter(FilterBuilder.Resize.To(300, 300))
			.WithFilter(FilterBuilder.AdjustContrast.Level(-90))
		))
</p>

<pre>
@@Html.DynamicImageTag(b => b.WithLayer(
	LayerBuilder.Image.SourceFile("~/Assets/Images/AutumnLeaves.jpg")
		.WithFilter(FilterBuilder.Resize.To(300, 300))
		.WithFilter(FilterBuilder.AdjustContrast.Level(100))
))
</pre>

<p>
	@Html.DynamicImageTag(b => b.WithLayer(
		LayerBuilder.Image.SourceFile("~/Assets/Images/AutumnLeaves.jpg")
			.WithFilter(FilterBuilder.Resize.To(300, 300))
			.WithFilter(FilterBuilder.AdjustContrast.Level(100))
		))
</p>