@section PageTitle { Grayscale Filter }
@section SubTitle { Converts the image to grayscale (using the correct colour ratios) }

<pre class="prettyprint">
@@Html.DynamicImageTag(b => b.WithLayer(
	LayerBuilder.Image.SourceFile("~/Assets/Images/AutumnLeaves.jpg")
		.WithFilter(FilterBuilder.Resize.To(500, 500))
		.WithFilter(FilterBuilder.Grayscale)
))
</pre>

<p>
	@Html.DynamicImageTag(b => b.WithLayer(
		LayerBuilder.Image.SourceFile("~/Assets/Images/AutumnLeaves.jpg")
			.WithFilter(FilterBuilder.Resize.To(500, 500))
			.WithFilter(FilterBuilder.Grayscale)
		))
</p>