@section PageTitle { Solarize Filter }

@section SubTitle {  }

<pre>
@@Html.DynamicImageTag(b => b.WithLayer(
	LayerBuilder.Image.SourceFile("~/Assets/Images/Penguins.jpg")
		.WithFilter(FilterBuilder.Resize.To(500, 500))
		.WithFilter(FilterBuilder.Solarize)
))
</pre>

<p>
	@Html.DynamicImageTag(b => b.WithLayer(
		LayerBuilder.Image.SourceFile("~/Assets/Images/Penguins.jpg")
			.WithFilter(FilterBuilder.Resize.To(500, 500))
			.WithFilter(FilterBuilder.Solarize)
		))
</p>