<div class="span3">
	<ul class="nav nav-tabs nav-stacked">
		@Html.NavListItem("Installation", "Installation", "GettingStarted")
		@Html.NavListItem("Object Model", "ObjectModel", "GettingStarted")
		@Html.NavListItem("Fluent API", "FluentApi", "GettingStarted")
		@Html.NavListItem("Caching", "Caching", "GettingStarted")
	</ul>
</div>