<div class="span3">
	<ul class="nav nav-tabs nav-stacked">
		@Html.NavListItem("Content Aware Resizing", "ContentAwareResizing", "Extensions")
		@Html.NavListItem("PDF", "Pdf", "Extensions")
		@Html.NavListItem("Rendered 3D", "Rendered3D", "Extensions")
		@Html.NavListItem("Website Screenshot", "WebsiteScreenshot", "Extensions")
	</ul>
</div>