@section PageTitle { Content Aware Resize Filter }

<pre>
@@Html.DynamicImageTag(b => b.WithLayer(
	LayerBuilder.Image.SourceFile("~/Assets/Photos/tower.jpg")
		.WithFilter(FilterBuilder.Resize.ToWidth(500))
))
</pre>

<p>
	@Html.DynamicImageTag(b => b.WithLayer(
		LayerBuilder.Image.SourceFile("~/Assets/Photos/tower.jpg")
			.WithFilter(FilterBuilder.Resize.ToWidth(500))
	))
</p>

<pre>
@@Html.DynamicImageTag(b => b.WithLayer(
	LayerBuilder.Image.SourceFile("~/Assets/Photos/tower.jpg")
		.WithFilter(FilterBuilder.Resize.ToWidth(500))
		.WithFilter(FilterBuilder.Resize.To(350, 412, ResizeMode.Fill))
))
</pre>

<p>
	@Html.DynamicImageTag(b => b.WithLayer(
		LayerBuilder.Image.SourceFile("~/Assets/Photos/tower.jpg")
			.WithFilter(FilterBuilder.Resize.ToWidth(500))
			.WithFilter(FilterBuilder.Resize.To(350, 412, ResizeMode.Fill))
	))
</p>

<pre>
@@Html.DynamicImageTag(b => b.WithLayer(
	LayerBuilder.Image.SourceFile("~/Assets/Photos/tower.jpg")
		.WithFilter(FilterBuilder.Resize.ToWidth(500))
		.WithFilter(new ContentAwareResizeFilterBuilder().ToWidth(350).ConvolutionType(ContentAwareResizeFilterConvolutionType.V1))
))
</pre>

<p>
	@Html.DynamicImageTag(b => b.WithLayer(
		LayerBuilder.Image.SourceFile("~/Assets/Photos/tower.jpg")
			.WithFilter(FilterBuilder.Resize.ToWidth(500))
			.WithFilter(new ContentAwareResizeFilterBuilder().ToWidth(350).ConvolutionType(ContentAwareResizeFilterConvolutionType.V1))
	))
</p>