@section PageTitle { Rendered 3D Layer }
@section SubTitle {  }

<ul class="nav nav-tabs">
	<li>@Html.ActionLink("Car", "RenderedCar", "Extensions")</li>
	<li>@Html.ActionLink("Cathedral", "RenderedCathedral", "Extensions")</li>
	<li>@Html.ActionLink("Inline", "RenderedInline", "Extensions")</li>
	<li>@Html.ActionLink("Tank", "RenderedTank", "Extensions")</li>
</ul>