@section PageTitle { Website Screenshot Layer }

<pre class="prettyprint">
@@Html.DynamicImageTag(b => b.WithLayer(
	new WebsiteScreenshotLayerBuilder().WebsiteUrl("http://www.apple.com").Timeout(3000).BrowserWidth(1024)
		.WithFilter(FilterBuilder.Resize.ToWidth(500))
		.WithFilter(FilterBuilder.Border.Width(1).Fill(Colors.Black))
		.WithFilter(FilterBuilder.DropShadow)
))
</pre>

<p>
	@Html.DynamicImageTag(b => b.WithLayer(
		new WebsiteScreenshotLayerBuilder().WebsiteUrl("http://www.apple.com").Timeout(3000).BrowserWidth(1024)
			.WithFilter(FilterBuilder.Resize.ToWidth(500))
			.WithFilter(FilterBuilder.Border.Width(1).Fill(Colors.Black))
			.WithFilter(FilterBuilder.DropShadow)
	))
</p>