@section PageTitle { Transparent Source Image }

<pre>
@@Html.DynamicImageTag(b => b.ImageFormat(DynamicImageFormat.Png).FillBackgroundColor(Colors.Transparent).WithLayer(
	LayerBuilder.Image.SourceFile("~/Assets/Images/BoardExample.png")
		.WithFilter(FilterBuilder.Resize.To(800, 800))
		.WithFilter(FilterBuilder.DropShadow)
))
</pre>

<div style="background-color:Red;padding:10px">
	@Html.DynamicImageTag(b => b.ImageFormat(DynamicImageFormat.Png).FillBackgroundColor(Colors.Transparent).WithLayer(
		LayerBuilder.Image.SourceFile("~/Assets/Images/BoardExample.png")
			.WithFilter(FilterBuilder.Resize.To(800, 800))
			.WithFilter(FilterBuilder.DropShadow)
	))
</div>